.tudo{
  width:100%;
  height:100vh;
  background:#BBB1D1;
  align-items:center;
  overflow-x:hidden;
  display:flex;
  flex-direction:column;
 left:0vw;
  right:0vw;
  top:0vw;
  position:absolute;
}


.caixa-cadastro{
  width:45vw;
  height:52w;
  background:#cacaca;
  border-radius:0.5vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
   margin-left: 2vw;
}


.caixa-cadastro .campo-text{
  width:38.3vw;
  height:34vw;
  margin-left:1.1vw;
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  overflow-x:hidden;
  

}

.caixa-cadastro .campo-text{
   font-size:1.3vw; 

}

.caixa-cadastro .campo-text input{
 height:2.5vw;
 background:#F0F0F5;
 border:none;
 padding-left:1.04vw;
 width:calc(100% - 1.04vw);
 border-radius:0.5vw;


}


.lado-a-lado .campo-texto-menor{
width:18vw;
display:flex;
align-items: center;
border:1px black solid;
display:flex;
justify-content:space-around;
flex-direction:column;

}

.campo-texto-menor label{
 font-size:0.97vw; 

}


.lado-a-lado .campo-texto-menor input{
 height:2vw;
 background:#F0F0F5;
 border:none;
 padding-left:1.04vw;
 width:12vw;
 border-radius:0.5vw;

}

#btfinalizar{
 border:none;
 border-radius:0.5vw;
 color:#fff;
 background:#000;
 width:13vw;
 height:3.1vw;
margin-left:1.5vw;
font-style: normal;
font-weight: 700;
font-size: 1.1vw;
line-height: 2vw;
cursor:pointer;
margin-top:0.5vw;
margin-bottom:0.5vw;

}

.lado-a-lado{
  width:38vw;
  height:5vw;
  display:flex;
  justify-content:space-between;
  
}

.campo-texto label{
 font-size:0.97vw; 

}

.btfinalizar {
  transition-duration: 0.4s;
}

#btfinalizar:hover {
  background-color: #32CD32;
  color: white;
}


